* {
    font-family: "LigaMonaco Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: #f6f5f4;
    color: #000000;
}

.modules-left {
	margin-left: 15px;
}

.modules-right {
	margin-right: 15px;
}
