* {
    font-family: "LigaMonaco Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: #FFFFFF;
    color: #000000;
}

.modules-left {
	margin-left: 10px;
}

.modules-right {
	margin-right: 10px;
}
