* {
    font-family: "LigaMonaco Nerd Font";
    font-size: 16px;
}

window#waybar {
	border: 1px solid #31363B;
    background-color: #31363B;
    color: #FFFFFF;
}

.modules-left {
	margin-left: 10px;
}

.modules-right {
	margin-right: 10px;
}
